<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:include="fragments/js :: jquerys"></div>
  <div th:include="fragments/js :: bootstrap"></div>
  <div th:include="fragments/css :: bootstrap"></div>
  <div th:include="fragments/css :: custom"></div>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div th:include="fragments/nav :: navigation"></div>
    <div th:include="fragments/sidebar :: sidebar"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 main">
      <h2>Insert a new partner</h2>
      <div class="bd-example">
      <form>

        <legend>General</legend>

        <div class="form-group row">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Enter partner name"
                   id="name"
                   autocomplete="off"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label" for="phone">Firstname</label>
          <div class="col-sm-4">
            <input id="firstname" type="text" placeholder="Firstname" class="form-control"/>
          </div>

          <label class="col-sm-2 control-label" for="fax">Lastname</label>
          <div class="col-sm-4">
            <input id="lastname" type="text" placeholder="Lastname" class="form-control"/>
          </div>
        </div>

        <div class="form-group row">
          <label for="category" class="col-sm-2 control-label">Category</label>
          <div class="col-sm-10">
            <select name="category" id="category">
              <option value="-1">Select</option>
              <option value="DJ">DJ-Music</option>
              <option value="Catering">Catering</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="website" class="col-sm-2 col-form-label">Website</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Enter URL"
                   id="website"
                   autocomplete="off"/>
          </div>
        </div>


        <div class="form-group row">
          <label for="about" class="col-sm-2 col-form-label">About</label>
          <div class="col-sm-10">
            <textarea rows="10" type="text" class="col-sm-2 form-control col-sm-40" id="about"
                      placeholder="Enter about"/>
          </div>
        </div>

        <legend>Contact</legend>

        <div class="form-group row">
          <label class="col-sm-2 control-label" for="firstname2">Firstname</label>
          <div class="col-sm-4">
            <input id="firstname2" type="text" placeholder="Firstname" class="form-control"/>
          </div>

          <label class="col-sm-2 control-label" for="lastname2">Lastname</label>
          <div class="col-sm-4">
            <input id="lastname2" type="text" placeholder="Lastname" class="form-control"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label" for="phone1">Phone 1</label>
          <div class="col-sm-4">
            <input id="phone1" type="text" placeholder="Phone 1" class="form-control"/>
          </div>

          <label class="col-sm-2 control-label" for="fax">Fax</label>
          <div class="col-sm-4">
            <input id="fax" type="text" placeholder="Post Code" class="form-control"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label" for="phone2">Phone 2</label>
          <div class="col-sm-4">
            <input id="phone2" type="text" placeholder="Phone 2" class="form-control"/>
          </div>

          <label class="col-sm-2 control-label" for="mobile">Mobile</label>
          <div class="col-sm-4">
            <input id="mobile" type="text" placeholder="Mobile" class="form-control"/>
          </div>
        </div>


        <legend>Social-Media</legend>


        <div class="form-group row">
          <label for="facebook" class="col-sm-2 col-form-label">Facebook</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Enter Facebook"
                   id="facebook"
                   autocomplete="off"/>
          </div>

          <label for="twitter" class="col-sm-2 col-form-label">Twitter</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Enter Twitter"
                   id="twitter"
                   autocomplete="off"/>
          </div>
        </div>

        <div class="form-group row">
          <label for="youtube" class="col-sm-2 col-form-label">Youtube</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Enter Youtube"
                   id="youtube"
                   autocomplete="off"/>
          </div>

          <label for="instagram" class="col-sm-2 col-form-label">Instagram</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Enter Instagram"
                   id="instagram"
                   autocomplete="off"/>
          </div>
        </div>


        <!-- Address -->
        <legend>Address Details</legend>

        <div class="form-group row">
          <label for="line1" class="col-sm-2 col-form-label">Address Line 1</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Enter Address Line 1"
                   id="line1"
                   autocomplete="off"/>
          </div>

          <label for="line2" class="col-sm-2 col-form-label">Address Line 2</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Enter Address Line 2"
                   id="line2"
                   autocomplete="off"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label" for="state">State</label>
          <div class="col-sm-4">
            <input id="state" type="text" placeholder="State" class="form-control"/>
          </div>

          <label class="col-sm-2 control-label" for="postcode">Postcode</label>
          <div class="col-sm-4">
            <input id="postcode" type="text" placeholder="Post Code" class="form-control"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label" for="city">City</label>
          <div class="col-sm-4">
            <input id="city" type="text" placeholder="City" class="form-control"/>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label" for="country">Country</label>
          <div class="col-sm-4">
            <input id="country" type="text" placeholder="Country" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
              <button type="submit" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-large btn-primary">Save</button>
            </div>
          </div>
        </div>

      </form>
      </div>
    </div>
  </body>
</html>