<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
<body>
    <div th:fragment="sidebar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="/admin">Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="/categories">Categories</a></li>
              <li><a href="/partners">Partners</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>