<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:include="fragments/js :: jquerys"></div>
  <div th:include="fragments/js :: bootstrap"></div>
  <div th:include="fragments/css :: bootstrap"></div>
  <div th:include="fragments/css :: custom"></div>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Partner</title>
  </head>
  <body>
    <div th:include="fragments/nav :: navigation"></div>
    <div th:include="fragments/sidebar :: sidebar"></div>

    <div th:include="fragments/category/new :: new_category"></div>

    <div class="col-md-offset-2 main">
      <legend>All categories</legend>
      <div class="container-fluid">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Name</th>
          </thead>
          <tbody>
          <tr th:each="category : ${categories}">
            <td th:text="${category.getId()}"></td>
            <td th:text="${category.getName()}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>