<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/js :: jquerys"></div>
<div th:include="fragments/js :: bootstrap"></div>
<div th:include="fragments/css :: bootstrap"></div>
<div th:include="fragments/css :: custom"></div>

<head>
<title>Quory</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

		<div class="container">
			<div class="row">
				<img src="quary_logo2.png" alt="Quory" style="margin-left: 360px"></img>
				<section class="section_0">
					<div class="col-sm-3">
						<div class="circle circle1">
							<a href="#section_1">
								<h2>
									<p style="white-space: nowrap; padding-top: 60px; font-family: typewriter">Ich biete</p>
								</h2>
							</a>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="circle circle2">
							<a href="/search">
								<h2>
									<p style="white-space: nowrap; padding-top: 60px; font-family: typewriter">Ich suche</p>
								</h2>
							</a>
						</div>
					</div>
				</section>
			</div>
	</div>

</body>
</html>