<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/js :: jquerys"></div>
<div th:include="fragments/js :: bootstrap"></div>
<div th:include="fragments/css :: bootstrap"></div>
<div th:include="fragments/css :: custom"></div>

<head>
<title>Tradestory</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:include="fragments/nav :: navigation"></div>
	<div style="padding: 50px">
  <form action="#" th:action="@{/search}" th:object="${searchForm}" method="POST">
		<!--form action="/search" method="POST"-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div id="imaginary_container">
							<div class="input-group stylish-input-group">
								<input type="text" th:field="*{query}" class="form-control" placeholder="Search" />
								<span class="input-group-addon">
									<button type="submit">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

  <div class="container">
    <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
          <li th:each="content : ${results}">
            <div class="info">
              <h2 class="title" th:text="${content.teaser}"></h2>
              <p class="desc" th:text="${content.teaser}"></p>
            </div>
            <div class="social">
              <ul>
                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
              </ul>
            </div>
            <!--time datetime="2014-07-20">
              <span class="day">4</span>
              <span class="month">Jul</span>
              <span class="year">2014</span>
              <span class="time">ALL DAY</span>
            </time>
            <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
            -->

          </li>
        </ul>
      </div>
    </div>
  </div>


</body>
</html>