<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/js :: jquerys"></div>
<div th:include="fragments/js :: bootstrap"></div>
<div th:include="fragments/css :: bootstrap"></div>
<div th:include="fragments/css :: custom"></div>

<head>
  <title>Partner</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div th:include="fragments/nav :: navigation"></div>
  <div th:include="fragments/sidebar :: sidebar"></div>
</body>
</html>